.detaillBox{
    &__img{
        ion-img{
            width: 100%;
        }
    }
    &__descripton{
        color: #fff;
        padding: 15px;
        background-color: #4285F4;
    }
    &__dataill{}
}