<ion-header>
  <ion-toolbar color="primary">
	<ion-title>login</ion-title>
	<p>
		<a target="_blank" href="https://reviblog.net/2017/08/05/tutorial-de-ionic-firebase-parte-1-autenticacion-con-correo-y-contrasena/">
			tutorial
		</a>
	</p>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
		<form>
			<ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input
					[(ngModel)]="user.email"
					name="email"
					type="text"
					autocapitalize="off"
					required
				>
				</ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">Contraseña</ion-label>
				<ion-input
					[(ngModel)]="user.password"
					name="password"
					type="password"
					required
				>
				</ion-input>
			</ion-item>
			<div padding>
				<ion-button
						[routerLink]="[ '/home' ]"
						ion-button
						(click)="login()"
						type="submit"
						color="primary"
						block
				>
					Login
				</ion-button>

				<ion-button
					ion-button
					(click)="createUser()"
					type="submit"
					color="secondary"
					block
				>
					Crear Usuario
				</ion-button>

				<ion-button
					ion-button 
					(click)="logOut()"
					type="submit"
					color="secondary"
					block
				>
					Salir
				</ion-button>
			</div>
		</form>
	</ion-list>

</ion-content>
