<!-- <ion-header>
  <ion-toolbar color="primary">
	<ion-title>login</ion-title>
	<p>
		<a target="_blank" href="https://reviblog.net/2017/08/05/tutorial-de-ionic-firebase-parte-1-autenticacion-con-correo-y-contrasena/">
			tutorial
		</a>
	</p>
  </ion-toolbar>
</ion-header> -->

<ion-content class="homePage">

	<div class="welcomeBar">

		<div class="welcomeBar__logo">
			<ion-img src="../../assets/img/logo/logo_home.png"></ion-img>
		</div>
		
		
		<h1>
			Bienvenido a MaPark
		</h1>
		<h2>
			Inicia sesión para continuar
		</h2>
	</div>

	<ion-list>
		<form>
			<ion-item>
				<!-- <ion-label position="floating">
					<ion-icon padding-right name="contact"></ion-icon>
					Usuario
				</ion-label> -->
				<ion-input
					class="inputShadow"
					placeholder="Usuario"
					[(ngModel)]="user.email"
					name="email"
					type="text"
					autocapitalize="off"
					required
				>
					<ion-icon padding-right name="contact"></ion-icon>
				</ion-input>
			</ion-item>

			<ion-item>
				<!-- <ion-label position="floating">
					<ion-icon padding-right name="eye-off"></ion-icon>
					Contraseña
				</ion-label> -->
				<ion-input
					class="inputShadow"
					placeholder="Contraseña"
					[(ngModel)]="user.password"
					name="password"
					type="password"
					required
				>
					<ion-icon padding-right name="eye-off"></ion-icon>
				</ion-input>
			</ion-item>
			<div padding>
				<ion-button
						ion-button
						(click)="login()"
						type="submit"
						color="primary"
						expand="block"
				>
					Login
				</ion-button>

				<ion-button
					ion-button
					(click)="createUser()"
					type="submit"
					color="secondary"
					expand="block"
				>
					Crear Usuario
				</ion-button>

				<ion-button
					ion-button 
					(click)="logOut()"
					type="submit"
					color="secondary"
					expand="block"
				>
					Salir
				</ion-button>
			</div>
		</form>
	</ion-list>

</ion-content>
